n8n/discord-verification-workflow.json
{
  "name": "Discord Verification - Qimah",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-connected",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook: discord.connected",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "discord-connected"
    },
    {
      "parameters": {
        "jsCode": "// Verify HMAC-SHA256 signature from qimah-profile\nconst crypto = require('crypto');\n\nconst signature = $input.first().headers['x-qimah-signature'];\nconst secret = $env.QIMAH_WEBHOOK_SECRET;\nconst body = $input.first().body;\n\nif (!secret) {\n  throw new Error('QIMAH_WEBHOOK_SECRET not configured in n8n environment');\n}\n\nif (!signature) {\n  throw new Error('Missing x-qimah-signature header');\n}\n\n// Calculate expected signature\nconst payload = JSON.stringify(body);\nconst expected = crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\n// Timing-safe comparison with length check\nconst sigBuffer = Buffer.from(signature);\nconst expectedBuffer = Buffer.from(expected);\n\nif (sigBuffer.length !== expectedBuffer.length) {\n  throw new Error('Invalid signature (length mismatch)');\n}\n\nif (!crypto.timingSafeEqual(sigBuffer, expectedBuffer)) {\n  throw new Error('Invalid signature');\n}\n\n// Extract data from webhook\nconst data = body.data || body;\n\nreturn {\n  json: {\n    discord_user_id: data.discord_user_id,\n    wp_user_id: data.user_id,\n    discord_username: data.discord_username,\n    event: body.event\n  }\n};"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-discord-id",
              "leftValue": "={{ $json.discord_user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-data",
      "name": "Has Discord ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://discord.com/api/v10/guilds/{{ $env.DISCORD_GUILD_ID }}/members/{{ $json.discord_user_id }}/roles/{{ $env.DISCORD_VERIFIED_ROLE_ID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Audit-Log-Reason",
              "value": "=Verified via Qimah (WP User #{{ $json.wp_user_id }})"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "assign-role",
      "name": "Assign Verified Role",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $json.discord_user_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "create-dm",
      "name": "Create DM Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "✅ تم التحقق من حسابك بنجاح! You are now verified in the Qimah server."
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-dm",
      "name": "Send Verification DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "=Role assigned to {{ $('Verify Signature').item.json.discord_username }}"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Missing discord_user_id in webhook payload"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error: Missing Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook: discord.connected": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Has Discord ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Discord ID?": {
      "main": [
        [
          {
            "node": "Assign Verified Role",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Verified Role": {
      "main": [
        [
          {
            "node": "Create DM Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DM Channel": {
      "main": [
        [
          {
            "node": "Send Verification DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification DM": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Missing Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
